{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Tweets from who, you would like to read about?</legend>
                <div class="form-group">
                    {{ form.twname.label(class="form-control-label") }}
                    {% if form.twname.errors %}
                        {{ form.twname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.twname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.twname(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need Suggestions? <a class="ml-2" href="{{ url_for('main.home') }}">See previous searches.</a>
        </small>
    </div>
{% endblock content %}