
[dev-packages]


[packages]
basilica = "*"
flask = "*"
tweepy = "*"
jsonify = "*"
requests = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-wtf = "*"
pprintpp = "*"

[requires]
python_version = "3.7"